/* Colors */
$black: #191919;
$white: white;
$diminishedWhite: #e5e5e5;
$gray1: #f9f8f8;
$gray2: #e6e5e3;
$gray3: #a9a8a7;
$gray4: #7d7d7c;
$gray5: #5c5c5b;
$gray6: #33322f;
$rookaYellow: #f7b32b;
$armyGreen: #30b446;
$airForceBlue: #4f80e3;
$warningRed: #f74d2b;

/* Layout */
$spacer: 16px;
$appBarHeight: 56px;
