/* Colors */
$black: #191919;
$white: white;
$diminishedWhite: #E5E5E5;
$gray1: #F9F8F8;
$gray2: #E6E5E3;
$gray3: #A9A8A7;
$gray4: #7D7D7C;
$gray5: #5C5C5B;
$gray6: #33322F;
$rookaYellow: #F7B32B;
$armyGreen: #30B446;
$airForceBlue: #4F80E3;
$warningRed: #F74D2B;

/* Layout */
$spacer: 16px;
$appBarHeight: 56px;