/* Colors */
$black: black;
$white: white;
$diminishedWhite: #E5E5E5;
$gray1: #F6F7FB;
$gray2: #D8DBE0;
$gray3: #777B83;
$gray4: #595B60;
$gray5: #45474D;
$rookaBlue: #80ADF0;
$rookaRed: #CF5454;
$armyGreen: #4A743F;
$airforceBlue: #3481C8;

/* Layout */
$spacer: 16px;
$appBarHeight: 56px;