@import  "@/scss/_variables.scss";

/* Reset */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html, body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

/* Layout */
#app {
	height: 100%;
	width: 100%;
	font-family: 'Spoqa Han Sans Neo', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $white;
	color: $black;
}
.page-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

/* Fonts */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//fonts.cdnfonts.com/css/lane---narrow);
	
.font-mobile {
	font-style: normal;
	
	&__title {
		font-size: 30px;
		font-weight: 700;
		line-height: 36px;
		letter-spacing: 0em;
	}
	&__semi-title {
		font-size: 24px;
		font-weight: 700;
		line-height: 31px;
		letter-spacing: -0.02em;
	}
	&__page-title {
		font-size: 16px;
		font-weight: 700;
		line-height: 21px;
		letter-spacing: -0.02em;
	}
	&__input-label {
		font-size: 14px;
		font-weight: 700;
		line-height: 18px;
		letter-spacing: -0.02em;
	}
	&__button-text {
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0.02em;
	}
	&__content-title {
		font-size: 12px;
		font-weight: 700;
		line-height: 16px;
		letter-spacing: -0.02em;
	}
	&__content-text {
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: 0em;
	}
	&__tag {
		font-size: 10px;
		font-weight: 700;
		line-height: 14px;
		letter-spacing: -0.02em;
	}
	&__caption {
		font-size: 10px;
		font-weight: 400;
		line-height: 14px;
		letter-spacing: -0.02em;
	}
}
	
/* Animation */
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
	transition: all .5s ease;
}
.slide-left-enter-from {
	transform: translateX(100%);	
}
.slide-left-leave-to {
	z-index: 1;
	transform: translateX(-100%);
}
.slide-left-enter-to,
.slide-left-leave-from {
	z-index: 0;
}
.slide-right-enter-from {
	transform: translateX(-100%);	
}
.slide-right-leave-to {
	z-index: 1;
	transform: translateX(100%);
}
.slide-right-enter-to,
.slide-right-leave-from {
	z-index: 0;
}
.fade-enter-active,
.fade-leave-active {
	transition: opacity .3s ease;
}
.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}
.pop-enter-active,
.pop-leave-active {
	transition: transform .3s cubic-bezier(0.5, 0, 0.5, 1), opacity .3s ease;
}
.pop-enter-from,
.pop-leave-to {
	opacity: 0;
	transform: scale(0.3);
}
.stretch-enter-active,
.stretch-leave-active {
	width: opacity .3s ease;	
}
.stretch-enter-from,
.stretch-leave-to {
	width: 0;
}

/* Effect */
.masked-overflow {
	overflow-y: auto;
	
	$mask-height: 28px;
	$mask-image-content: linear-gradient(
		to bottom,
		transparent,
		black #{$mask-height},
		black calc(100% - #{$mask-height}),
		transparent
	);
	padding-bottom: $mask-height;
	mask-image: $mask-image-content;
	mask-size: 100% 100%;
	mask-position: 0 0;
	mask-repeat: no-repeat;
	
	scrollbar-width: none;
	&::-webkit-scrollbar { display: none }
}
	
/* Spacing */
.m {
	&-0 { margin: 0 }
	&-1 { margin: ($spacer * .25) }
	&-2 { margin: ($spacer * .5) }
	&-3 { margin: $spacer }
	&-4 { margin: ($spacer * 1.5) }
	&-5 { margin: ($spacer * 3) }
	&t {
		&-0 { margin-top: 0 }
		&-1 { margin-top: ($spacer * .25) }
		&-2 { margin-top: ($spacer * .5) }
		&-3 { margin-top: $spacer }
		&-4 { margin-top: ($spacer * 1.5) }
		&-5 { margin: ($spacer * 3) }
	}
	&b {
		&-0 { margin-bottom: 0 }
		&-1 { margin-bottom: ($spacer * .25) }
		&-2 { margin-bottom: ($spacer * .5) }
		&-3 { margin-bottom: $spacer }
		&-4 { margin-bottom: ($spacer * 1.5) }
		&-5 { margin: ($spacer * 3) }
	}
	&s {
		&-0 { margin-left: 0 }
		&-1 { margin-left: ($spacer * .25) }
		&-2 { margin-left: ($spacer * .5) }
		&-3 { margin-left: $spacer }
		&-4 { margin-left: ($spacer * 1.5) }
		&-5 { margin: ($spacer * 3) }
	}
	&e {
		&-0 { margin-right: 0 }
		&-1 { margin-right: ($spacer * .25) }
		&-2 { margin-right: ($spacer * .5) }
		&-3 { margin-right: $spacer }
		&-4 { margin-right: ($spacer * 1.5) }
		&-5 { margin: ($spacer * 3) }
	}
	&x {
		&-0 { margin-left: 0; margin-right: 0; }
		&-1 { margin-left: ($spacer * .25); margin-right: ($spacer * .25); }
		&-2 { margin-left: ($spacer * .5); margin-right: ($spacer * .5); }
		&-3 { margin-left: $spacer; margin-right: $spacer; }
		&-4 { margin-left: ($spacer * 1.5); margin-right: ($spacer * 1.5); }
		&-5 { margin: ($spacer * 3) }
	}
	&y {
		&-0 { margin-top: 0; margin-bottom: 0; }
		&-1 { margin-top: ($spacer * .25); margin-bottom: ($spacer * .25); }
		&-2 { margin-top: ($spacer * .5); margin-bottom: ($spacer * .5); }
		&-3 { margin-top: $spacer; margin-bottom: $spacer; }
		&-4 { margin-top: ($spacer * 1.5); margin-bottom: ($spacer * 1.5); }
		&-5 { margin: ($spacer * 3) }
	}
}
.p {
	&-0 { padding: 0 }
	&-1 { padding: ($spacer * .25) }
	&-2 { padding: ($spacer * .5) }
	&-3 { padding: $spacer }
	&-4 { padding: ($spacer * 1.5) }
	&-5 { padding: ($spacer * 3) }
	&t {
		&-0 { padding-top: 0 }
		&-1 { padding-top: ($spacer * .25) }
		&-2 { padding-top: ($spacer * .5) }
		&-3 { padding-top: $spacer }
		&-4 { padding-top: ($spacer * 1.5) }
		&-5 { padding: ($spacer * 3) }
	}
	&b {
		&-0 { padding-bottom: 0 }
		&-1 { padding-bottom: ($spacer * .25) }
		&-2 { padding-bottom: ($spacer * .5) }
		&-3 { padding-bottom: $spacer }
		&-4 { padding-bottom: ($spacer * 1.5) }
		&-5 { padding: ($spacer * 3) }
	}
	&s {
		&-0 { padding-left: 0 }
		&-1 { padding-left: ($spacer * .25) }
		&-2 { padding-left: ($spacer * .5) }
		&-3 { padding-left: $spacer }
		&-4 { padding-left: ($spacer * 1.5) }
		&-5 { padding: ($spacer * 3) }
	}
	&e {
		&-0 { padding-right: 0 }
		&-1 { padding-right: ($spacer * .25) }
		&-2 { padding-right: ($spacer * .5) }
		&-3 { padding-right: $spacer }
		&-4 { padding-right: ($spacer * 1.5) }
		&-5 { padding: ($spacer * 3) }
	}
	&x {
		&-0 { padding-left: 0; padding-right: 0; }
		&-1 { padding-left: ($spacer * .25); padding-right: ($spacer * .25); }
		&-2 { padding-left: ($spacer * .5); padding-right: ($spacer * .5); }
		&-3 { padding-left: $spacer; padding-right: $spacer; }
		&-4 { padding-left: ($spacer * 1.5); padding-right: ($spacer * 1.5); }
		&-5 { padding: ($spacer * 3) }
	}
	&y {
		&-0 { padding-top: 0; padding-bottom: 0; }
		&-1 { padding-top: ($spacer * .25); padding-bottom: ($spacer * .25); }
		&-2 { padding-top: ($spacer * .5); padding-bottom: ($spacer * .5); }
		&-3 { padding-top: $spacer; padding-bottom: $spacer; }
		&-4 { padding-top: ($spacer * 1.5); padding-bottom: ($spacer * 1.5); }
		&-5 { padding: ($spacer * 3) }
	}
}

/* Button */
.button {
	border: none;
	background-color: transparent;
	color: $black;
	transition: background-color .2s ease, color .2s ease;
	
	&-success {
		background-color: $armyGreen;
		color: $white;
	}
	&-info {
		background-color: $airforceBlue;
		color: $white;
	}
	&-light {
		background-color: $gray1;
		color: $gray5;
	}
	&-gray {
		background-color: $gray3;
		color: $white;
	}
	&-dark {
		background-color: $gray5;
		color: $white;
	}
	&:disabled {
		background-color: $gray2 !important;
		color: $white !important;
	}
}

/* Input */
input {
	-webkit-appearance: none;
}
input[type="date"] {
	position: relative;
	
	&::before {
		content: attr(data-placeholder);
		width: 100%;
		font-weight: 300;
		font-size: 12px;
		line-height: 16px;
		color: $gray3;
	}
	&:valid::before { display: none; }
	
	&::-webkit-calendar-picker-indicator {
		position: absolute;
		background: transparent;
		color: transparent;
		cursor: pointer;
		height: auto;
		width: auto;
		left: -100px;
		right: 0;
		top: 0;
		bottom: 0;
	}
}