@import '@/scss/_variables.scss';

/* Reset */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* Layout */
#app {
  height: 100%;
  width: 100%;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
  color: $black;
}
.page-wrapper {
  position: relative;
  height: auto;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Fonts */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//fonts.cdnfonts.com/css/lane---narrow);

.font {
  font-style: normal;

  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.75rem;
    letter-spacing: 0em;
    color: $black;
  }
  &__semi-title {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.25rem;
    letter-spacing: -0.02em;
    color: $black;
  }
  &__page-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
    letter-spacing: -0.02em;
    color: $black;
  }
  &__input-label {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.625rem;
    letter-spacing: -0.02em;
    color: $black;
  }
  &__button-text {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0.02em;
    color: $black;
  }
  &__content-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    color: $black;
  }
  &__content-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0em;
    color: $black;
  }
  &__tag {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: -0.02em;
    color: $black;
  }
  &__caption {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: -0.02em;
    color: $black;
  }
}

/* Animation */
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.5s ease;
}
.slide-left-enter-from {
  transform: translateX(100%);
}
.slide-left-leave-to {
  z-index: 1;
  transform: translateX(-100%);
}
.slide-left-enter-to,
.slide-left-leave-from {
  z-index: 0;
}
.slide-right-enter-from {
  transform: translateX(-100%);
}
.slide-right-leave-to {
  z-index: 1;
  transform: translateX(100%);
}
.slide-right-enter-to,
.slide-right-leave-from {
  z-index: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.pop-enter-active,
.pop-leave-active {
  transition: transform 0.3s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.3s ease;
}
.pop-enter-from,
.pop-leave-to {
  opacity: 0;
  transform: scale(0.3);
}
.stretch-enter-active,
.stretch-leave-active {
  width: opacity 0.3s ease;
}
.stretch-enter-from,
.stretch-leave-to {
  width: 0;
}

/* Effect */
.masked-overflow {
  overflow-y: auto;

  $mask-height: 24px;
  $mask-image-content: linear-gradient(
    to bottom,
    transparent,
    black #{$mask-height},
    black calc(100% - #{$mask-height}),
    transparent
  );
  padding-bottom: $mask-height;
  mask-image: $mask-image-content;
  mask-size: 100% 100%;
  mask-position: 0 0;
  mask-repeat: no-repeat;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Spacing */
.h {
  &-100 {
    height: 100%;
  }
}
.w {
  &-100 {
    width: 100%;
  }
}
.m {
  &-0 {
    margin: 0;
  }
  &-1 {
    margin: ($spacer * 0.25);
  }
  &-2 {
    margin: ($spacer * 0.5);
  }
  &-3 {
    margin: $spacer;
  }
  &-4 {
    margin: ($spacer * 1.5);
  }
  &-5 {
    margin: ($spacer * 3);
  }
  &t {
    &-0 {
      margin-top: 0;
    }
    &-1 {
      margin-top: ($spacer * 0.25);
    }
    &-2 {
      margin-top: ($spacer * 0.5);
    }
    &-3 {
      margin-top: $spacer;
    }
    &-4 {
      margin-top: ($spacer * 1.5);
    }
    &-5 {
      margin: ($spacer * 3);
    }
  }
  &b {
    &-0 {
      margin-bottom: 0;
    }
    &-1 {
      margin-bottom: ($spacer * 0.25);
    }
    &-2 {
      margin-bottom: ($spacer * 0.5);
    }
    &-3 {
      margin-bottom: $spacer;
    }
    &-4 {
      margin-bottom: ($spacer * 1.5);
    }
    &-5 {
      margin: ($spacer * 3);
    }
  }
  &s {
    &-0 {
      margin-left: 0;
    }
    &-1 {
      margin-left: ($spacer * 0.25);
    }
    &-2 {
      margin-left: ($spacer * 0.5);
    }
    &-3 {
      margin-left: $spacer;
    }
    &-4 {
      margin-left: ($spacer * 1.5);
    }
    &-5 {
      margin: ($spacer * 3);
    }
  }
  &e {
    &-0 {
      margin-right: 0;
    }
    &-1 {
      margin-right: ($spacer * 0.25);
    }
    &-2 {
      margin-right: ($spacer * 0.5);
    }
    &-3 {
      margin-right: $spacer;
    }
    &-4 {
      margin-right: ($spacer * 1.5);
    }
    &-5 {
      margin: ($spacer * 3);
    }
  }
  &x {
    &-0 {
      margin-left: 0;
      margin-right: 0;
    }
    &-1 {
      margin-left: ($spacer * 0.25);
      margin-right: ($spacer * 0.25);
    }
    &-2 {
      margin-left: ($spacer * 0.5);
      margin-right: ($spacer * 0.5);
    }
    &-3 {
      margin-left: $spacer;
      margin-right: $spacer;
    }
    &-4 {
      margin-left: ($spacer * 1.5);
      margin-right: ($spacer * 1.5);
    }
    &-5 {
      margin: ($spacer * 3);
    }
  }
  &y {
    &-0 {
      margin-top: 0;
      margin-bottom: 0;
    }
    &-1 {
      margin-top: ($spacer * 0.25);
      margin-bottom: ($spacer * 0.25);
    }
    &-2 {
      margin-top: ($spacer * 0.5);
      margin-bottom: ($spacer * 0.5);
    }
    &-3 {
      margin-top: $spacer;
      margin-bottom: $spacer;
    }
    &-4 {
      margin-top: ($spacer * 1.5);
      margin-bottom: ($spacer * 1.5);
    }
    &-5 {
      margin: ($spacer * 3);
    }
  }
}
.p {
  &-0 {
    padding: 0;
  }
  &-1 {
    padding: ($spacer * 0.25);
  }
  &-2 {
    padding: ($spacer * 0.5);
  }
  &-3 {
    padding: $spacer;
  }
  &-4 {
    padding: ($spacer * 1.5);
  }
  &-5 {
    padding: ($spacer * 3);
  }
  &t {
    &-0 {
      padding-top: 0;
    }
    &-1 {
      padding-top: ($spacer * 0.25);
    }
    &-2 {
      padding-top: ($spacer * 0.5);
    }
    &-3 {
      padding-top: $spacer;
    }
    &-4 {
      padding-top: ($spacer * 1.5);
    }
    &-5 {
      padding: ($spacer * 3);
    }
  }
  &b {
    &-0 {
      padding-bottom: 0;
    }
    &-1 {
      padding-bottom: ($spacer * 0.25);
    }
    &-2 {
      padding-bottom: ($spacer * 0.5);
    }
    &-3 {
      padding-bottom: $spacer;
    }
    &-4 {
      padding-bottom: ($spacer * 1.5);
    }
    &-5 {
      padding: ($spacer * 3);
    }
  }
  &s {
    &-0 {
      padding-left: 0;
    }
    &-1 {
      padding-left: ($spacer * 0.25);
    }
    &-2 {
      padding-left: ($spacer * 0.5);
    }
    &-3 {
      padding-left: $spacer;
    }
    &-4 {
      padding-left: ($spacer * 1.5);
    }
    &-5 {
      padding: ($spacer * 3);
    }
  }
  &e {
    &-0 {
      padding-right: 0;
    }
    &-1 {
      padding-right: ($spacer * 0.25);
    }
    &-2 {
      padding-right: ($spacer * 0.5);
    }
    &-3 {
      padding-right: $spacer;
    }
    &-4 {
      padding-right: ($spacer * 1.5);
    }
    &-5 {
      padding: ($spacer * 3);
    }
  }
  &x {
    &-0 {
      padding-left: 0;
      padding-right: 0;
    }
    &-1 {
      padding-left: ($spacer * 0.25);
      padding-right: ($spacer * 0.25);
    }
    &-2 {
      padding-left: ($spacer * 0.5);
      padding-right: ($spacer * 0.5);
    }
    &-3 {
      padding-left: $spacer;
      padding-right: $spacer;
    }
    &-4 {
      padding-left: ($spacer * 1.5);
      padding-right: ($spacer * 1.5);
    }
    &-5 {
      padding: ($spacer * 3);
    }
  }
  &y {
    &-0 {
      padding-top: 0;
      padding-bottom: 0;
    }
    &-1 {
      padding-top: ($spacer * 0.25);
      padding-bottom: ($spacer * 0.25);
    }
    &-2 {
      padding-top: ($spacer * 0.5);
      padding-bottom: ($spacer * 0.5);
    }
    &-3 {
      padding-top: $spacer;
      padding-bottom: $spacer;
    }
    &-4 {
      padding-top: ($spacer * 1.5);
      padding-bottom: ($spacer * 1.5);
    }
    &-5 {
      padding: ($spacer * 3);
    }
  }
}

/* Button */
.button {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  border: none;
  background-color: transparent;
  transition: background-color 0.2s ease, color 0.2s ease;

  &-success,
  &-green {
    background-color: $armyGreen;
    color: $white;
  }
  &-info,
  &-blue {
    background-color: $airForceBlue;
    color: $white;
  }
  &-light {
    background-color: $gray1;
    color: $gray5;
  }
  &-secondary,
  &-gray {
    background-color: $gray5;
    color: $white;
  }
  &-primary,
  &-dark {
    background-color: $gray6;
    color: $white;
  }
  &:disabled {
    background-color: $gray2 !important;
    color: $white !important;
  }
  &__text {
    @extend .font__button-text;
    color: inherit;
  }
}

/* Input */
input {
  -webkit-appearance: none;
}
input[type='date'] {
  flex: 1;
  width: 100%;
  position: relative;

  &::before {
    @extend .font__content-text;
    content: attr(data-placeholder);
    width: 100%;
    color: $gray4;
    white-space: pre;
  }
  &:valid::before {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    background: transparent;
    color: transparent;
    cursor: pointer;
    height: auto;
    width: auto;
    left: -100px;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
